* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #202020;
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  color: #fff;
  background-color: #000;
  font-size: 2.8rem;
  letter-spacing: 0.4rem;
  width: 100%;
  border-bottom: 2px solid #3d7;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 0.7rem;
  margin-bottom: 1.2rem;
}
section {
  width: 60%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #171717;
  box-shadow: 0px 0 6px 3px rgba(150, 150, 150, 0.2);
}
.inputBox {
  display: flex;
  flex-wrap: wrap;
  padding:3rem 0;
  margin-bottom: 10px;
  width: 100%;
  min-height: 7rem;
  justify-content: center;
  background-color: #000;
  border-radius: 0.5rem;
  /* align-items: center; */
}
.inputField {
  padding: 0.5rem 1rem;
  width: 90%;
  height: 5rem;
  background-color: #000;
  color: #ddd;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  resize:none;
  transition: 1s ease-out;
}
.inputField:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #3d7;
}
.inputField::-webkit-scrollbar{
  display:none;
}
.cross {
  background-color:#3d7;
  display: flex;
  justify-content: center;
  align-content: center;
  width:20px;
  height:20px; 
  padding:2px; 
  border-radius: 50%;
  font-size: small;
  position:absolute;
  top:-13px;
  right:-13px;
  cursor: pointer;
  color:#000
}
.buttonDiv {
  display: flex;
  width: 100%;
  height:2rem;
  padding: 10px 0 ;
  justify-content: space-evenly;
  position: relative;
}
.gifButton {
  width:5rem;
  padding: 0.4rem 0rem;
  color: #ccc;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 4px;
  border-radius: 0.35rem;
  border: 2px solid #3d7;
  background-color: transparent;
  position: absolute;
  left:20px;
  top:5px;
}
.postButton {
  width:5rem;
  padding: 0.4rem 0rem;
  color: #222;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 4px;
  border-radius: 0.35rem;
  border: none;
  background-color: #3d7;
  position: absolute;
  right:20px;
  top:5px;
}
.gifContainer {
  width: 335px;
  height: 310px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  overflow: scroll;
  background-color: rgba(0, 2, 1, 0.85);
  border-radius: 10px;
  scrollbar-width: none;
  z-index: 1000;
  position: absolute;
  left: 12px;
  top: 52px;
}
.gifContainer::-webkit-scrollbar {
  display: none;
}
.gifContainer input {
  width: 92%;
  height: 1.7rem;
  border-radius: 10px;
  border: none;
  padding: 0 7px;
  margin-bottom: 6px;
}
.gifContainer input:focus {
  outline: none;
  border: none;
}
.gifBox {
  margin: 2px;
}
.gifs {
  object-fit: contain;
}
.outputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 28rem;
  background-color: rgba(51, 221, 119, 0.048);
  box-shadow: 0 0 3px 2px rgba(65, 117, 65, 0.3);
  border-radius: 0.5rem;
  margin-top: 40px;
  overflow: scroll;
  scrollbar-width: none;
}
.outputBox::-webkit-scrollbar {
  display: none;
}
.outputItem {
  width: 90%;
  padding: 10px 20px;
  margin: 9px 4px;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #000;
  border-radius: 0.5rem;
  border-bottom: 2.5px solid #3d7;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.outputText {
  width:100%;
  font-weight: bold;
  color:#ddd;
  padding: 15px 15px;
  word-wrap: break-word;
  text-align: left;
}
.gifOutput {
  margin: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
